@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  font-family: Raleway;
  color: #444;
  letter-spacing: 1px;
}
.form-title {
  color: white;
}
.card-form {
  width: 500px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.card-form .form-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  background: #27ae60;
  border-radius: 10px 10px 0 0;
}
.card-form .form-body {
  padding: 20px;
}
.card-form .form-body .row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
  position: relative;
}
.card-form .form-body .row label {
    display: block;
    text-align: left;
    color: #444;
    font-size: 0.8rem;
    color: red;
    position: absolute;
    bottom: -5px;
}
.card-form .form-body .row input[type="text"],
.card-form .form-body .row input[type="number"],
.card-form .form-body .row input[type="email"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 35px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
  margin: 10px 0;
}
.card-form .rule {
  height: 2px;
  background: #e8ebed;
  margin: 0px 35px;
}
.card-form .form-footer {
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
}
.card-form .form-footer a, .card-form .form-footer input[type="submit"] {
  display: inline-block;
  height: 40px;
  /* line-height: 40px; */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background: #27ae60;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  color: white;
}
.card-form .form-footer span {
  margin-left: 8px;
}
